@font-face {
    font-family: "cafe";
    src : url(letra/Aarvark-Cafe.ttf);
  }

body{
    background-image: url(imagenes/fondo1.jpg);
    font-family: "cafe";
}

input{
    border-radius: 10px;
}

#logo{
    background-color: rgba(206, 175, 114, 0.4);
    border-radius: 60px;
    width: 400px;
    margin-top: 10px;
    margin-left: 20px;
    padding-right: 10px;
}

h2{
    text-align: center;
}

#barra{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    margin: 20px auto;
    text-align: center;
}

.elemen{
    padding-right: 50px;
    font-size: 20px;
}


#display1{
    padding-left: 200px;
}

#productos{
    text-align: center;
    background-image: url(imagenes/fondo2.jpg);
    background-size: cover;
    padding-top:100px;
    padding-bottom: 100px;
}

.logo{
    border-radius: 60px; 
    width: 160px;
}

.logo:hover{
    background-color: burlywood;
    border:coral solid;
    border-radius: 60px;
}

button{
    border-radius: 10px;
    font-family: "cafe";
    
}

.button:hover{
    background-color: burlywood;
    border:coral solid;
}

#pedido{
    text-align: center;
    margin: 20px auto;
    margin-top: 50px;
}

#respuesta{
    text-align: center;
    background-color: rgba(228, 228, 209, 0.699);
    margin-left: 120px ;
    margin-right: 120px ;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

