body{
    background-image: url(imagenes/fondo5.jpg);
    background-size: cover;
    font-family: "Brush Script MT", cursive;
    font-size: 30px;
}

#Logo-tienda{
    width: 360px; 
    height: 190px;
    margin-left: 420px;
    margin-right: 420px;
}

#productos{
    text-align:center;
    background-image:url(imagenes/fondop1.jpg);
    margin: 50px 100px 100px 100px;
    border-width: 3px;
    border-radius: 60px;
}

#producto1{
    position: absolute;
    width: 40%;
    height: 25%;   
}

#producto2{
    position: relative;
    width: 150%;
    height: 25%;   
}

#producto3{
    position: absolute;
    width: 40%;
    height: 200%; 
}

#producto4{
    position:relative;
    width: 150%;
    height: 50%; 
}

.donuts{
    border-style: solid;
    border-width: 3px;
    width: 250px; 
    height: 180px;
    border-radius: 30px;
}


#Logo-carro{
    width: 45px; 
    height: 35px;
    border-width: 3px;
    border-radius: 60px;
}

#Barra{
    text-align:center;
    background-color:rgba(255, 255, 255, 0.493);
    margin: 20px 100px 20px 100px;
    border-width: 3px;
    border-radius: 60px;
}

b{
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
}

h3{
    text-align:center;
    background-color:rgba(255, 255, 255, 0.493);
    margin: 5px 500px 5px 500px;
    border-width: 3px;
    border-radius: 60px;
}

